.item-detail-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.item-detail-container h1 {
    font-size: 5rem;
    text-transform: uppercase;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2rem;
}

.grid-container ul {
    list-style-type: none;
    width: 80%;
    display: flex;
    flex-direction: column;
}