
a {
  text-decoration: none;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: gray;
}

.logo {
  margin: 1rem;
  padding-left: 1rem;
  width: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  font-size: 2rem;
  align-items: center;
  gap: 1rem;
}

nav img {
  position: relative;
  width: 3rem;
  margin: 1.6rem;
  display: inline-block;
  text-align: center;
}

nav span {
  color: black;
  position: absolute;
  font-size: 1.6rem;
  top: 5.8rem;
  right: 0.5rem;
  background-color: rgb(251, 251, 251);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: inline-block;
  line-height: 2rem;
  text-align: center;
}

body {
  background-color: lightgray;
}

h1 {
  display: flex;
  justify-content: center;
}